/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
/* html {
  width: 100%;
  height: 100%;
  background-color: rgb(45, 79, 45);
  border: 40px solid rgb(18, 60, 18);
} */

body {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 4rem;
}

.button {
  background-color: rgba(239, 208, 167, 0.7);
  border: 2px solid #89847c;
  border-radius: 10px;
  box-shadow: #b5b5b7 4px 4px 0 0;
  color: #363636;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 15px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #b5b5b7 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #cc0000;
}
/******************************************
/* LAYOUT
/*******************************************/
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  width: 360px;
  height: 360px;
  border: 7.5px solid transparent;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;

}

.numBox, .empty {
  width: 115px;
  height: 115px;
  border: 1px solid #89847c;
  background: rgba(208,159,96, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  color: #363636;

  transform-style: preserve-3d;
  border-radius: 10px;
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;
}

.clickableNum:hover {
  transform:
    translate3d(0px, -16px, 0px)
    rotateX(10deg)
    rotateZ(10deg);
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

.empty {
  background: rgba(233, 220, 201, 0.5);
}

.clickableValue:hover {
  cursor: pointer;
}

.hide h2 {
  display: none;
}

h2 {
  font-size: 4.8rem;
  width: 100px;
  height: 100px;
  margin: 0;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media all and (max-width: 430px) {
  .container {
    width: 250px;
    height: 250px;
  }

  .numBox, .empty {
    width: 78.3px;
    height: 79.55px;
    transform-style: none;
  }

  .clickableNum:hover {
    transform: none;
    background-color: rgba(221, 180, 126, 0.7);
  }

  h2 {
    font-size: 3.3rem;
    width: 60.55px;
    height: 65.55px;
  }
}